//== Header
//
//##

$background:#7A0407;
$gutter:20px;
$text:#fff;
$button-bg-color:#777;
$button-hover-bg-color:#bbb;
$button-size:36px;

.header{
    flex:0 0 45px;
    height:45px;
    order:1;
    background-color:$background;
    font-family:Helvetica, Arial, sans-serif;
    &__logo{
        width:210px;
        margin-top:15px;
        margin-left:$gutter;
        margin-right:$gutter;
        float:left;
        cursor:pointer;
    }
    &__collection-name{
        float:left;
        margin:16px 0 0 0;
        padding:0;
        color:$text;
        font-size:16px;
        font-weight:normal;
    }
    &__button-header{
        border-radius:5px;
        float:right;
        background-color:$button-bg-color;
        background-repeat:no-repeat;
        background-position:50% 50%;
        border:none;
        outline:none;
        width:$button-size;
        height:$button-size;
        display:block;
        margin:5px 6px 0 0;
        font-size:14px;
        cursor:pointer;
        span{
            display:none;
        }
        &:hover{
            background-color:$button-hover-bg-color;
        }
        &--logout{
            margin-right:20px;
            //background-image:url('./Header/ico_logout_30_white.svg');
        }
        &--backoffice{
            //background-image:url('./Header/ico_backoffice_30_white.svg');
        }
    }
}